@model IEnumerable<DynamicFAQ.Models.Section>

@{
    ViewData["Title"] = "Index";
}


    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/Faq.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.0/css/ionicons.min.css" integrity="sha256-F3Xeb7IIFr1QsWD113kV2JXaEbjhsfpgrKkwZFGIA4E=" crossorigin="anonymous" />

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    </head>
    <body>
    <div class="container-fluid">
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12 pa-0">
                <div class="faq-search-wrap bg-grey-light-3">
                    <div class="container">
                        <h1 class="display-5 text-white mb-20">FAQ Admin</h1>
                        <div class="form-group w-100 mb-0">
                            <div class="input-group">

                                <!-- search -->
                                <div class="container">
                                    <input class="form-control form-control-lg filled-input bg-white" placeholder="Search by keywords" type="text" id="search">

                                    <select hidden=true id="SearchResults" class="select2-selection select2-selection--multiple form-control form-control-lg filled-input bg-white layered  " name="states[]" multiple="multiple"></select>

                                    <div class="clear"></div>
                                    <section class="questions"></section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-sm-60 mt-30">
                    <div class="hk-row">
                        <div class="col-xl-4">
                            <div class="card">
                                <h6 class="card-header">
                                    Category
                                </h6>
                                <p>
                                    <h6 class=""><a asp-action="CreateSection">Create New Section</a></h6>
                                </p>
                                <ul class="list-group list-group-flush" id="sectionbtn">
                                    <!-- Sec Btn Container-->
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="card card-lg">
                                <h3 class="card-header border-bottom-0" id="sectionNameHead">
                                    <!-- Section Name-->
                                </h3>
                                <div class="SectionOptions" id="SectionOptionLinks">
                                    <a asp-action="EditSection"><h6>Edit Section</h6></a>
                                    <a asp-action="DeleteSection"><h6>Delete Section</h6></a>
                                    <a asp-action="CreateFaq"><h6>Add Faq in Section</h6></a>
                                </div>
                                <div id="qaContainer">
                                    <div class="accordion accordion-type-2 accordion-flush" id="accordion_2">

                                        <!-- QA Container-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
            
    </div>
    <div class="hidden" id="template">
            <a asp-action="DeleteFaq" id="delFaqLink"><h6>Delete Faq</h6></a>
        <a asp-action="EditFaq" id="editFaqLink"><h6>Edit Faq</h6></a>
        </div>
    <script id="qotmpl" type="text/x-handlebars-template">
        <div class="QOptions" data-qid="{{qid}}">
            <a id="delFaqLink"><h6>Delete Faq</h6></a>
            <a id="editFaqLink"><h6>Edit Faq</h6></a>
        </div>
    </script>
        <script id="qatmpl" type="text/x-handlebars-template">
            <div class="card" data-qid="{{id}}" data-accordionid="{{ida}}">
                <div class="card-header d-flex justify-content-between">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_{{id}}i" aria-expanded="false">{{ques}}</a>
                </div>
                <div id="collapse_{{id}}i" class="collapse" data-parent="#accordion_2">
                    <div class="card-body pa-15">{{ans}}</div>
                </div>
            </div>

        </script>

    <script id="btntmpl" type="text/x-handlebars-template">
        <li id="QAsectionBtn{{id}}" data-sec-id={{id}} class="list-group-item d-flex align-items-center">
            <i class="ion ion-md-sunny mr-15" data-sec-id={{id}}></i>{{sec}}
        </li>
        </script>

        <script id="srttmpl" type="text/x-handlebars-template">
            <option class="quescard layered" data-ques-id={{qid}} data-sec-id={{sid}}>{{ques}} </option>
        </script>
    <script type="text/javascript">
        var sectionArray = @Html.Raw(Json.Serialize(@Model.ToList()));
        var currentSectionId = 0;
        var qatmpl = Handlebars.compile(document.getElementById('qatmpl').innerHTML);
        var btntmpl = Handlebars.compile(document.getElementById('btntmpl').innerHTML);
        var srttmpl = Handlebars.compile(document.getElementById('srttmpl').innerHTML);
        var qotmpl = Handlebars.compile(document.getElementById('qotmpl').innerHTML);
        function changeCurrSection(secId) {

            currentSectionId = parseInt(secId);
            refreshFaqContainer();
        }
        function openQuestionInCurrSection(qId) {

            var ques = $("#qaContainer").children("#accordion_2").find('[data-qid="' + qId.toString() + '"]').find(".card-header").find(".collapsed").click();
            ques.click();
        }
        function refreshFaqContainer() {
            var currSec = sectionArray[currentSectionId];

            var containerPGroup = $("#qaContainer").children("#accordion_2");
            $("#sectionNameHead").empty();
            $("#sectionNameHead").append(currSec.name);

            $("#SectionOptionLinks").children("a[href]").each(function () {
                var link;
                if ($(this).is("[data-orig-link]")) {
                    link = $(this).attr("data-orig-link");

                }
                else {
                    link = $(this).attr("href");
                    
                    $(this).attr("data-orig-link",link);
                }
                var newLink = link + "/" + currSec.id.toString();
                $(this).attr("href", newLink);
            });

            containerPGroup.empty();
            for (var i = 0; i < currSec.data.length; i++) {
                containerPGroup.append(qatmpl({
                    ida: i.toString(),
                    ques: currSec.data[i].question,
                    ans: currSec.data[i].answer,
                    id: currSec.data[i].id
                }));
                var qo = qotmpl({
                    qid: currSec.data[i].id
                });
                var dellink = $('#template').children('#delFaqLink').attr('href');
                var edlink = $('#template').children('#editFaqLink').attr('href');
                containerPGroup.children().eq(i).append(qo);
                var qoi = containerPGroup.children().eq(i).find('.QOptions');
                $(qoi).children("#delFaqLink").attr('href', dellink);
                console.log($(qoi).children("#delFaqLink").is('[href]'));
                $(qoi).children("#editFaqLink").attr('href', edlink);
                $(qoi).children("a").each(function () {
                    var link;
                    if ($(this).is("[data-orig-link]")) {
                        link = $(this).attr("data-orig-link");
                    }
                    else {
                        link = $(this).attr("href");
                        $(this).attr("data-orig-link",link);
                    }
                    var newLink = link + "/" + currSec.data[i].id.toString();
                    $(this).attr("href", newLink);
                });
                ;
            }
        }

        function setupSectionButtons() {
            for (var i = 0; i < sectionArray.length; i++) {
                var btn = btntmpl({
                    id: i.toString(),
                    sec: sectionArray[i].name
                });

                $("#sectionbtn").append(btn);
            }

            $("#sectionbtn").children('li').each(function () {
                if (parseInt($(this).attr("data-sec-id")) === currentSectionId) {
                    $(this).addClass('active');
                }
                this.addEventListener('click', function () {
                    var btnId = parseInt($(this).attr("data-sec-id"));
                    $("#sectionbtn li").removeClass('active');
                    $(this).addClass('active');
                    changeCurrSection(btnId);
                });
            });
        }
        $(document).ready(function () {
            setupSectionButtons();
            refreshFaqContainer();

        });



        $(function () {
            $("#search").on("keyup", function () {
                $("#SearchResults").empty();
                $("#SearchResults").attr("hidden", true);
                var val = $.trim(this.value);
                if (val) {
                    val = val.toLowerCase();
                    $.each(sectionArray,
                        function (_, obj1) {
                            $.each(obj1.data,
                                function (_, obj) {
                                    if (obj.question.toLowerCase().indexOf(val) != -1) {
                                        $("#SearchResults").append(srttmpl({
                                            qid: obj.id,
                                            sid: getSectionIdFromQuesId(parseInt(obj.id)),
                                            ques: obj.question
                                        }));
                                        $("#SearchResults").attr("hidden", false);
                                    }
                                });


                        });

                }
                $("#SearchResults").children("option").click(function () {
                    var sec = $(this).attr("data-sec-id");
                    var ques = $(this).attr("data-ques-id");


                    $("#sectionbtn").children('[data-sec-id="' + sec.toString() + '"]').click();
                    $("#search").val('');
                    $("#SearchResults").empty();
                    $("#SearchResults").attr("hidden", true);
                    openQuestionInCurrSection(ques);


                });
            });
        });
        function getSectionIdFromQuesId(id) {
            for (var i = 0; i < sectionArray.length; i++) {
                for (var j = 0; j < sectionArray[i].data.length; j++) {
                    if (sectionArray[i].data[j].id == id) {
                        return i;
                    }
                }
            }
            return "notfound";
        }

    </script>
    <style type="text/css">
        .QOptions {
        }
        .SectionOptions {

        }
    </style>
    </body>
