@model IEnumerable<FaqSystem.Models.FaqSection>
@{

}

<!-- search -->
<div class="search-form-container">
    <div class="search-wrapper">
        <input type="search" id="search" placeholder="Search for Question" data-search>
    </div>
    <div class="search-results stack-top hidden" id="searchResults">
        @{
            var mdl = Model.ToList();
        }
        
        @for (int i = 0; i < mdl.Count; i++)
        {

            @for (int j = 0; j < mdl[i].QList.Count; j++)
            {
                        
                <div class="suggestion-item hidden" data-tags=" [] "><a asp-action="Index" asp-route-secId="@i" asp-route-qId="@j">@mdl[i].QList[j].Title</a></div>
            }

        }
    </div>
</div> 
    <script type="text/javascript" language="javascript">
        var secArray =@Html.Raw(Json.Serialize(Model.ToList()));
        var searchResultBox;
        $(document).ready(function () {

            var searchInput = document.querySelector("[data-search]");
            searchResultBox = $("#searchResults");
            var searchResults = $(searchResultBox).children("div");
            var resultMap = searchResults.map(x => {
                var q = $(searchResults[x]).children("a").get(0).textContent;
                return { title: q, element: $(searchResults[x]).get(0) }
            });
            searchInput.addEventListener("input",
                e => {
                    var value = e.target.value.toLowerCase();
                    var areResultsVisible = false;
                    for (var x = 0; x < resultMap.length;x++) {
                        var res = resultMap[x];
                        var isVisible = res.title.toLowerCase().includes(value) && !(value === "");
                        if (isVisible) {
                            areResultsVisible = true;}
                        res.element.classList.toggle("hidden", !isVisible);
                    }
                    searchResultBox.toggleClass("hidden", !areResultsVisible);

                    

                });
        });
        
    </script>
