@model IEnumerable<FaqSystem.Models.FaqSection>

<div><br />
    <table class="table table-bordered" id="QTable">
        <thead>
            <tr>
                <th>
                    S No.
                </th>
                <th>
                    Question
                </th>
                <th>
                    Section
                </th>
                <th>
                    Controls
                </th>
            </tr>
        </thead>
        <tbody>
            @{var i = 1;}
                @foreach (var faqSection in Model)
                {
                    foreach (var faqQuestion in faqSection.QList)
                    {


                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @faqQuestion.Title
                            </td>
                            <td>
                                @faqSection.SectionTitle
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm" asp-action="QuestionDetails" asp-route-id="@faqQuestion.Id">Details</a>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
    </table>
    <script language="javascript" type="text/javascript">

        $('#QTable').DataTable();
    </script>
    </div>