
<div class="modal fade" id="createSecModal" tabindex="-1" role="dialog" aria-labelledby="createSecModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSecModalLabel">Create Section</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="CreateSection">
                <div class="modal-body">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label name="SectionTitle" class="control-label"></label>
                        <input name="SectionTitle" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
