
<div class="modal fade" id="createSecModal" tabindex="-1" role="dialog" aria-labelledby="createSecModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSecModalLabel">Create Section</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="CreateSection">
                <div class="modal-body">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label name="SectionTitle" class="control-label"></label>
                        <input id="SecName" name="SectionTitle" class="form-control" />
                        <span style="color:red;" id="CreateSecVal" class="hidden">Invalid Section Name</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-success" onclick="CheckSecName()">Create</button>
                        <button id="subBtn" type="submit" class="hidden" ></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetDialog()">Close</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function CheckSecName() {
        secN = document.getElementById("SecName");
        secVal = document.getElementById("CreateSecVal");
        subBtn = document.getElementById("subBtn");
        if (secN.value.trim() === "") {
            secVal.classList.toggle("hidden", false);
        }
        else {
            secVal.classList.toggle("hidden", true);
            subBtn.click();
        }
    }
    function resetDialog() {
        secN = document.getElementById("SecName");
        secVal = document.getElementById("CreateSecVal");
        secN.value = "";
        secVal.classList.toggle("hidden", true);
    }
</script>